@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400..900&display=swap');

.square {
    padding: 1rem;
    border-radius: 10px;
    min-height: 180px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
